@font-face {
  font-family: "Noto Sans";
  src: url("NotoSans-Thin.woff2") format("woff2");
  font-weight: 100;
}

@font-face {
  font-family: "Noto Sans";
  src: url("NotoSans-ExtraLight.woff2") format("woff2");
  font-weight: 200;
}

@font-face {
  font-family: "Noto Sans";
  src: url("NotoSans-Light.woff2") format("woff2");
  font-weight: 300;
}

@font-face {
  font-family: "Noto Sans";
  src: url("NotoSans-Regular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Noto Sans";
  src: url("NotoSans-Medium.woff2") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Noto Sans";
  src: url("NotoSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
}

@font-face {
  font-family: "Noto Sans";
  src: url("NotoSans-Bold.woff2") format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "Noto Sans";
  src: url("NotoSans-ExtraBold.woff2") format("woff2");
  font-weight: 800;
}

@font-face {
  font-family: "Noto Sans";
  src: url("NotoSans-Black.woff2") format("woff2");
  font-weight: 900;
}